hexaPython/figures_divB_diffusion
hexaRelax/run1
hexaRelax/Figures
hexaRelax_A/run1
hexaRelax_A/Figures
hexaRelax_B/run1
hexaRelax_B/Figures
hexaRelax_B/setup_files/256x256
hexaRelax_2d/Figures
hexaRelax_2d/run1
hexaRelax_A2/Figures
hexaRelax_A2/setup_files/256x256
hexaRelax_2d_A/run1
hexaRelax_2d_A/Figures
hexaRelax_2d_A_divB_diffusion/run1
hexaRelax_2d_A_divB_diffusion/Figures
log/hexaRelax_2d_A_arcade_ex=ey=0_vs_ne_0/figures
hexaRelax_2d_B_divB_diffusion/run1
hexaRelax_2d_B_divB_diffusion/Figures
hexaRelax_2d_force_ax_ay_az/run1
hexaRelax_2d_force_ax_ay_az/Figures
