hexaPython/figures
hexaRelax/run1
hexaRelax/Figures
hexaRelax_A/run1
hexaRelax_A/Figures
hexaRelax_B/run1
hexaRelax_B/Figures
hexaRelax_B/setup_files/256x256
hexaRelax_2d/Figures
hexaRelax_2d/run1
hexaRelax_A2/Figures
hexaRelax_A2/setup_files/256x256
